<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div class="main-content">
    {{>header}}
    <p>use thi site to get weather</p>
<!--    <span>Created by <strong>{{name}}</strong></span>-->
    <form>
        <input type="text" placeholder="location" >
        <button>Submit</button>
    </form>
    <p id ="message-1"></p>
    <p id = "message-2"></p>
</div>

{{>footer}}
</body>
<script src="js/app.js"></script>

</html>